.z-nav {
  z-index:1;
}

.hi {
  font-size:1.5em;
 
}



.center{
 text-align: center;
 margin: auto;
  width: 750px;
}

body {
  background: #7B8D8E;
 
  font-size: 20px;
  font-family: verdana;
}
.test{
  background: #74a0a1;
}
.colorblue {
  color: #0077b5;
}

.head {
  color: black;
  
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

.daddy{
  height: 100%;
}

.lol {
   height: 300px;
    overflow: hidden;
}



