body {
  font-size: 20px;
  font-family: arial;

}

.navbar {
  margin:0;
}
@media (min-width: 768px) {
.navbar-nav {
  float: right;
  margin-right:45px;

  }
}

@media screen and (max-width: 600px) {
  .imgDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.leftSide {
  color: black;
  background-color:#3FC380;
  font-family: fantasy;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  word-wrap:break-word;
}
.rightSide{
  width:80%;
}
.flex {
  display: flex;
  flex-direction:row;
}

h2 {
  padding-top:20px;
}
/* adjust nav column size*/
.name{
  top:80%;
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  color:white;
  font-size:50px;
  font-weight:lighter;
}



/*adjust padding of each section */

.imgAbout {
  left:0;
  right:0;
  margin:auto;
  width:25vw;
  height:35vh;
  box-shadow: 0px 0px 20px black;
  opacity: 1 !important;

}


#project {
  padding-bottom: 2em;
}

/*navbar stuff need to fix still */
.affix {
  top: 0;
  width: 100%;
  z-index:9999 !important;
}

.affix + .container-fluid {
  position: relative;
  top : -50px;
   
  }

i.fa:hover {
  cursor: pointer;
}

.project-tile {
  position: relative;
  height: 35vh;
  width: 25vw;
  display: inline-block;
  margin: 16px;
}

.imgDiv img {
  display: block;
  height: 30vh;
  width: 25vw;
  max-width:inherit;


}

span {
  width:100%;
  height:40px;
  position: absolute;
  bottom: 20;
  display:block;
  background-color: #000;
  opacity: .7;
  color: #fff;

}



.imgDiv {
   margin-top: 2em;
    
}


.quote {
  font-family:cursive;
  margin-top:1em;
}


input {
  width:100%;
}

.fields {
  max-width: inherit;
  max-height:inherit;
  left:0;
  right:0;
  margin:auto;
  width:40%;
  
}


.profileLink{
  left:0;
  right:0;
  margin:auto;
  margin-top:20px;
  color:black;

}


.mainPicture {
  background-image: url("public/peterle2.JPG")  !important;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  background-position: 50% 50%;

}


.introText {
  text-align:left;
  font-size:20px;
  width:75%;
  margin:auto;
  margin-top:1em;
  
}

.nameInput{
  margin-bottom:20px;
  margin-top:20px;

}
.emailInput {
  margin-bottom:20px;
}

.subjectInput {
  margin-bottom:20px;
}
.textInput {
  margin-bottom:20px;


}

.inputs {
  border-radius:25px;
  font-style:italic;
  color:black;
  background-color:white;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: .6; /* Firefox */
}

#contact {

}

#proj{
  margin-top:50px;
  position:relative;

}

#submitVal {
  left:0;
  right:0;
  margin:auto;
  width:40%;
}

