body {
  font-size: 20px;
  font-family: arial;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHMFP3Jw5cW2kd6M6_yjzJfS-59rVXerzzKI84KvjFTvwN9UX_aA");
  background-repeat: no-repeat;
  background-size: cover;
}

/* adjust nav column size*/
.hi {
  font-size:1.5em;
 
}

h1 {
  font-size:50px;
}

/*adjust padding of each section */
.daddy{
  padding-top: 2em;
  padding-bottom : 3em;
  height:33%;
  
}

.imgAbout {

opacity:.9;
position: relative;
box-shadow:  0px 0px 20px black;
}

/*.bigDiv {
  height:100%;
  position: relative;
}*/
#project {
  padding-bottom: 2em;
}

/*navbar stuff need to fix still */
.affix {
      top: 0;
      width: 100%;
      z-index:9999 !important;
  }

.affix + .container-fluid {
  position: relative;
  top : -50px;
   
  }

i.fa:hover {
  color: #5478E4;
  cursor: pointer;
}

.rel {
  position: relative;
  height: 350px;
  width: 400px;
  display: inline-block;
}

.lol img {
  display: inline-block;
  height: 350px;
  width: 400px;


}

span {
  width: 400px;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: none;
  background-color: #000;
  opacity: .7;
  color: #fff;

}

.rel:hover span {
  display: block;
}
}

.lol {
   margin-top: 2em;
    
}
.pad {
  margin: 16px;
}

/*.purple {
  background-color: #6c16c7;
}

.blue {
   
  background-color: #19A0D9;
}
.white {
  background-color: white;
}
*/
.blackDiv {
  
  opacity:.4;
  color: black;
  background-color: #D4D7FE;
  box-shadow:  0px 0px 20px black;
  position:relative;

}

.quote {
  font-family:cursive;
}

.cont {
  margin-bottom: 2em;
}

.te {

  
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;   
box-sizing: border-box;        
}

input {
  width:100%;
}

.fields {
  margin-top: 20px;
}

form input[type=text] {
  padding-
}
.iconsBot{
  margin-bottom:40px;
}

.rel :hover {
  transform:scale(1.1);
}
span:hover {
  transform:scale(1.1);
}



.circle {
  background:#fda085;
  opacity:.7;
  height: 650px;
  width:650px;
  border-radius:50%;
  margin: auto;
  box-shadow:  0px 0px 10px black;
}

.abtCont {
  position:relative;
  transform: scale(.9);
  height:100%;
  display:flex;

}

.introP {
  position:absolute;
  top:30%;

}
.introText {
  font-size:24px;
  
}


.introIcons {
  position:absolute;
  left:0;
  right:0;
  margin:auto;
  top:15%;
 
  

}
.introImg {
  box-shadow:  0px 0px 20px black;
}
.introHead {
  font-size: 36px;
  display:;
}

.stuff {
  z-index:1000;
}